body {
    font-family: var(--font-family-body);
}

h1 {
    color: var(--color-text-black);
    font-size: var(--text-3xl);
}

h2 {
    color: var(--color-text-black);
    font-size: var(--text-xl);
}

.color-item {
    font-family: var(--font-family-items);
    font-size: var(--text-xs);
    text-align: center;
    color: var(--color-text-white);
}

#white-item {
    color: var(--color-text-black);
}